.modify-peak-22-table {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    font-size: 14px;
    overflow-wrap: break-word;
  }

  .ant-table {
    font-size: 12px;
    font-weight: 500;
  }
  .ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0;
  }

  .ant-table-thead > tr > th {
    text-align: left;
    font-weight: bold;
    height: 52px;
  }
  .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
    background-color: #fafafa;
  }
}
