@import '../../assets/styles/mixins.scss';
/* table */

.peak-block-report {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 16px 8px;
    overflow-wrap: break-word;
  }

  .ant-table-thead > tr > th {
    background-color: $palete-light;
  }
}

.mand-table {
  .ant-table {
    font-size: 12px;
  }
  .ant-table-small
    > .ant-table-content
    > .ant-table-fixed-left
    > .ant-table-body-outer
    > .ant-table-body-inner
    > table
    > .ant-table-thead
    > tr
    > th {
    background-color: #fafafa;
  }

  .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-thead
    > tr
    > th {
    background-color: #fafafa;
  }

  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
  }

  .ant-table-thead > tr > th {
    background-color: $palete-light;
  }
}

.goal-table {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 14px 8px;
    overflow-wrap: break-word;
  }

  .ant-table-thead > tr > th {
    background-color: $palete-light;
  }
}

.session-table {
  .ant-table {
    font-size: 12px;
  }

  .ant-table-body {
    overflow-y: hidden;
  }

  .ant-table-thead > tr > th {
    padding: 5px 5px;
    text-align: center;
    font-size: 12px;
    background-color: $palete-light;

    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
  }
  /* row data */
  .ant-table-tbody > tr > td {
    padding: 4px 5px;
    text-align: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
  }
}

.response-rate-table {
  .ant-table
    > .ant-table-content
    > .ant-table-fixed-left
    > .ant-table-body-outer
    > .ant-table-body-inner
    > table
    > .ant-table-tbody
    > tr
    > td {
    max-height: 45px;
    padding: 0 8px;
  }

  .ant-table {
    font-size: 12px;
  }

  .ant-table-thead > tr > th {
    font-size: 13px;
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    background-color: $palete-light;
  }

  .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td {
    background: unset; //Change the existing color to `unset`
  }
}

.peak-block-detail-table {
  .ant-table,
  .ant-table-middle,
  .ant-table-bordered,
  .ant-table-scroll-position-left {
    font-size: 13px !important;
  }
}
