.appointmentReport {
  .filterCard {
    background: #f1f1f1;
    padding: 5px 10px;
    margin: 0;
    height: 50px;
    overflow: hidden;
    background-color: rgb(241, 241, 241);

    .label {
      font-size: 18px;
      color: #000;
      padding-top: 2px;
      display: block;
    }

    .datePicker {
      margin-left: auto;
      width: 235px;
    }
  }

  .ant-table-thead > tr > th {
    padding: 12px 8px !important;
    font-size: 13px !important;
    background-color: rgba(0, 0, 0, 0.04) !important;
    font-weight: bold;
  }

  .ant-table-body {
    margin: 0 !important;
  }

  .ant-table-tbody > tr > td {
    padding: 12px 8px !important;
    font-size: 13px !important;
  }
}
