@import '../../assets/styles/mixins.scss';

/* ---------------------- Component "PRESCRIPTION LIST" ---------------------- */
.site-card-wrapper {
  padding: 30px;
  background: rgb(236, 236, 236);
}

.filter_sub_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.ant-form-item label {
  font-size: 14px;
}

.utils__content {
  padding: 0;
}

.avatarlogo {
  width: 128px !important;
  height: 128px !important;
  border-radius: 50%;
}
.ant-form-item-required::before {
  content: '*';
}

.view_learner {
  .ant-table-tbody > tr > td {
    padding: 6px 10px;
    overflow-wrap: break-word;
  }
  .ant-table-thead > tr > th {
    padding: 16px 10px;
    background-color: $palete-light;
  }

  .ant-table {
    border: 1px solid rgb(232, 232, 232);
  }
}

.profile-css {
  min-width: fit-content;

  .ant-card-body {
    padding: 0;
    width: 100%;
    zoom: 1;
  }
  .ant-card-meta {
    display: flex;
    flex-direction: row;
  }
  .ant-card-meta-detail {
    width: 100%;
  }

  .ant-drawer-body {
    padding: 0;
  }
}

.mainCard {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  color: black;
  margin-bottom: 28px;
  padding: 24px 0;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 0 1px 1px 0 rgb(242, 242, 242);
}

.mainCard-child {
  width: 50%;
  height: 100%;
  padding: 0 12px 0 28px;
}

.right-border {
  border-right: 1px solid rgb(232, 232, 232);
}

.midCard {
  width: 50%;
  height: fit-content;
  min-height: 290px;
  background-color: white;
  padding: 24px 12px 24px 28px;
  margin-bottom: 0;
  margin-right: 14px;
  color: black;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 0 1px 1px 0 rgb(242, 242, 242);
}

.midCard-rMargin {
  margin-right: 0;
  margin-left: 14px;
}

.midCard-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 28px;
}

// PRESCRIPTION TABLE CSS

#prescription_table_container {
  .ant-table-thead > tr > th {
    background-color: rgb(207, 207, 207) !important;
    padding: 10px;
    font-weight: 800;
    border: 1px solid rgb(218, 218, 218);
  }
  .ant-table-tbody {
    font-weight: 600;
    color: #000;
    background-color: rgb(245, 245, 245);
  }
  .ant-table-tbody > tr > td {
    border: 0.5px solid rgb(218, 218, 218);
    padding: 8px;
  }
  .ant-table-tbody > tr > td:first-child {
    background-color: rgb(207, 207, 207);
    width: 1%;
  }
  .ant-table-tbody > tr > td:nth-child(2) {
    font-weight: 700;
  }
  .ant-table-tbody > tr > td:last-child {
    width: 8%;
    border: 0;
  }
  .ant-table-footer {
    background-color: rgb(255, 255, 255);
  }
}

#prescription_visit_table_container {
  .ant-table-tbody {
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .ant-table-thead > tr > th {
    padding: 10px;
    font-weight: 800;
  }
}

.remove_btn {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
}

.remove_btn:hover {
  background-color: transparent;
  border-color: transparent;
  color: red;
}

// PRESCRIPTION FOTTER SECTION CSS

.prescription_footer_section {
  .advice_contianer {
    width: 100%;
    margin: 45px auto;
    position: relative;
  }
  .advice_contianer .ant-form-item .ant-form-item-label label {
    font-size: 20px !important;
    font-style: italic;
    margin-top: 4%;
  }
  .icon_section,
  .test_icon_section {
    // padding: 10px;
    position: absolute;
    top: 22%;
    left: 2%;
  }
  .test_icon_section {
    top: 15%;
  }

  .icon_section .icon_section_icon,
  .test_icon_section .test_icon_section_icon {
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }

  .icon_section .caret_icon,
  .test_icon_section .caret_icon {
    font-size: 22px;
  }

  .test_contianer {
    position: relative;
  }

  .sub_test_container {
    position: absolute;
    top: -3%;
    right: 15%;
  }

  .test_contianer .sub_test_container p {
    font-weight: 800;
    margin-bottom: 1%;
    margin-left: 48%;
  }

  .test_contianer .ant-form-item .ant-form-item-label label {
    font-size: 16px !important;
    font-style: italic;
  }

  .test_contianer .sub_test_container .select_option {
    background-color: rgb(229, 229, 229) !important;
    font-weight: 600;
  }
}

// PRESCRIPTION VISIT SECTION

.visit_history_section {
  margin-top: 35px;
  .vist_title {
    text-align: center;
    h2 {
      margin-bottom: 0%;
    }
    span {
      font-weight: 600;
    }
  }
  .visit_content_body {
    width: 96%;
    -webkit-box-shadow: 0 0 10px rgb(204, 204, 204);
    box-shadow: 0 0 10px rgb(204, 204, 204);
    margin: 15px auto;
    border-radius: 8px;
    .visit_content_header {
      background-color: rgb(238, 238, 238);
      padding: 0.2%;
      h4 {
        display: inline-block;
        margin-right: 0.3%;
      }
    }
    .content_body {
      padding: 2%;
      p {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .mainCard {
    flex-direction: column;
    padding: 24px 28px;
  }

  .right-border {
    border-right: none;
  }

  .mainCard-child {
    width: 100%;
    padding-left: 0;
  }

  .midCard-rMargin {
    margin-left: 0;
  }

  .midCard {
    width: 100%;
    padding: 24px 28px;
    margin-right: 0;
    margin-bottom: 28px;
  }

  .midCard-container {
    margin-bottom: 0;
    flex-direction: column;
  }

  .profile-css {
    .ant-card-meta {
      flex-direction: column;
    }
  }
}
// ---------------------------------------------------------------

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 4px 11px;
}
