.modify-table {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 5px 6px 5px 8px;
    overflow-wrap: break-word;
    text-align: center;
  }

  .ant-table {
    font-size: 13px;
    font-weight: 500;
  }

  .ant-table-thead > tr > th {
    text-align: left;
    padding-left: 10px;
    font-weight: 600;
    height: 52px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.filter_sub_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.ant-form-item label {
  font-size: 14px;
}

.utils__content {
  padding: 10px 0 30px;
}

.avatarlogo {
  width: 128px !important;
  height: 128px !important;
  border-radius: 50%;
}

.ant-form-item-required::before {
  content: '*';
}

.editable-cell {
  position: relative;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0;
}
.editable-cell-value-wrap {
  padding: 0;
  cursor: pointer;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.ant-input-number-input {
  text-align: right;
}

.edit-checkBox {
  .ant-checkbox-inner {
    border: 1.2px solid black;
  }
}

.drawer-header-button {
  z-index: 10;
  display: block;
  width: 50px;
  height: 56px;
  padding: 0;
  color: rgba(61, 50, 50, 0.45);
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-rendering: auto;
}

.change-invo-drawer {
  .ant-drawer-body {
    scrollbar-width: thin;
    padding: 0;
  }

  .ant-drawer-wrapper-body {
    overflow: unset;
  }

  .ant-drawer-close {
    font-size: 24px;
  }
}
