@import '../../../assets/styles/mixins.scss';

.filter_sub_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.ant-form-item label {
  font-size: 14px;
}

.sc-dkPtyc.jQPceu.rdt_TableHeadRow {
  background-color: $palete-light;
}
.utils__content {
  padding: 0;
}

.avatarlogo {
  width: 128px !important;
  height: 128px !important;
  border-radius: 50%;
}
.ant-form-item-required::before {
  content: '*';
}

.modify-data-table {
  .jzCzGz {
    min-width: 40px;
  }
}
