@import '../../assets/styles/mixins.scss';

.file_upload_section {
  background-color: $backgroundBg;
  min-height: 90vh;

  .file_upload_header {
    width: 100%;

    .header_container {
      .header_content {
        .ant-tabs-top {
          .ant-tabs-top-bar {
            background-color: $white;

            .ant-tabs-nav-container {
              width: 65%;
              margin: 0 auto;

              .ant-tabs-tab-active {
                font-weight: 700;
                color: $text-darken;
              }
              .ant-tabs-tab:hover {
                color: $text-darken;
              }
            }
          }
        }
      }
    }
  }

  .file_upload_container {
    width: 65%;
    margin: 25px auto;

    .ant-card {
      -webkit-box-shadow: 0 0 10px $text-darken;
      box-shadow: 0 0 10px $text-darken;
      border-radius: 8px;
    }

    .ant-card-bordered {
      border: 0;
    }

    .ant-card-head-title {
      font-size: 18px;
      font-weight: 700;
      color: $text-darken;
    }

    .location_section {
      margin-left: 15%;

      .radio_label {
        content: 'Location';
        font-weight: 700;
        font-style: italic;
        margin: 1%;
      }

      .location_value {
        color: $text-darken;
        font-size: 17px;
        font-weight: 600;
      }

      .ant-radio-inner {
        border-color: $text-darken;
      }

      .ant-radio-inner::after {
        background-color: $text-darken;
      }
    }

    .drag_drop {
      .drag_title {
        margin-left: 15%;
        color: $blue-darken;
        font-weight: 700;
        padding: 2% 0 2% 0;
      }
      .input_label {
        width: 75%;
        border: 1px dashed $gray;
        padding: 5%;
        margin: 0 auto;
        cursor: pointer;

        .ant-upload-drag-icon {
          font-weight: 700;
          font-size: 50px;
          color: $text;
        }

        .ant-upload-text {
          color: $text;
          font-size: 20px;
          span {
            color: $blue-darken;
            font-size: 15px;
          }
        }
      }
    }
  }

  .authorization_container {
    width: 65%;
    margin: 25px auto;

    .btn {
      font-weight: 600;
    }

    .toMore {
      text-align: center;
      font-size: 17px;
      color: $blue-darken;
      cursor: pointer;

      span {
        width: 22px;
        height: 22px;
        background-color: $blue-darken;
        color: $white;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }

  .all_file_container {
    .ant-tabs-top .ant-tabs-top-bar .ant-tabs-nav-container {
      width: 100% !important;
    }

    .tab_main_content {
      min-height: 100vh;
      background-color: $white;
      padding: 0.5%;
      border-right: 2px solid $white;
      .tab_content {
        display: flex;
        justify-content: space-between;
      }
    }

    .all_file_search_container {
      .all_file_search {
        width: 100%;
        background-color: $white;
        padding: 0.2%;
      }

      .ant-btn-primary {
        margin-left: 15%;
      }

      .ant-input {
        border: 0;
      }
    }
    // .all_file_header{
    //   display: flex;
    //   justify-content: space-between;
    //   background-color: $white;
    //   align-items: center;
    // padding: 4px;

    // .all_file_tap_section{
    //   border-right: 1px solid $gray-lighten;
    //   width: 22%;
    //   display: flex;
    //   justify-content: space-around;
    //   align-items: flex-end;

    //   .tab_active {
    //     color: $text-darken-more;
    //     border-bottom: 2px solid #DD7E77;
    //   }

    //   p {
    //     color: $text-lighten;
    //     font-weight: 600;
    //     cursor: pointer;
    //     margin-top: 1%;
    //   }
    //   p:hover,
    //   .all_file_tap_section:focus-within p,
    //   p:active {
    //     color: $text-darken-more;
    //   }

    //   .tap_icon{
    //       font-size: 18px;
    //   }
    // }

    // .all_file_search_section{
    //   display: flex;
    //   justify-content: space-around;
    //   width: 78%;

    //   .search_input {
    //     width: 75%;
    //     .ant-input{
    //       width: 100%;
    //       border: 0;
    //       border-radius: 0;
    //       border-bottom: 1px solid #d9d9d9;
    //     }
    //   }

    //   .anticon-search {
    //     font-size: 22px;
    //     color: $text-lighten;
    //     cursor: pointer;
    //     position: absolute;
    //     z-index: 1111;
    //     top: 0;
    //   }
    // }
    // }
  }
}
