.filter_sub_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.ant-form-item label {
  font-size: 14px;
}

.utils__content {
  padding: 0;
}

.filter_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -28px;
  margin-top: 8px;
  width: fit-content;
  height: 36px;
}
