@import '../../assets/styles/mixins.scss';

.gen-assess-content {
  padding: 0 20px;
  max-width: 86%;
  width: 100%;
  margin: 0 auto;
}
.gen-assess-table {
  .ant-table-thead > tr > th {
    background-color: $palete-light;
  }
  .ant-table-tbody > tr > td {
    padding: 12px 16px;
  }
}

@media screen and (max-width: 1000px) {
  .gen-assess-content {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .gen-assess-content {
    padding: 0;
  }
}
