@import '../../assets/styles/mixins.scss';

.appointmentCalendar {
  .filterCard {
    .ant-form-item {
      margin-bottom: 5px;
    }

    .ant-form-item label {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .fc .fc-button-primary {
    color: black;
    background-color: $palete-light;
    border-color: $palete-light-blue;
  }

  .fc .fc-button-primary:not(:disabled):active,
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    color: black;
    background-color: $palete-light-blue;
    border-color: $palete-light-blue;
  }
  .fc .fc-button-primary:disabled {
    color: black;
    background-color: $palete-light-blue;
    border-color: $palete-light-blue;
  }

  .fc .fc-button-primary:hover {
    background-color: $palete-light-blue;
    color: black;
    border-color: $palete-light-blue;
  }
}
