@import '../../assets/styles/mixins.scss';

.appointmentCalendar {
  .filterCard {
    .ant-form-item {
      margin-bottom: 5px;
      margin-right: 23px;
    }

    .ant-form-item label {
      font-size: 14px;
      font-weight: bold;
    }
  }

  td.fc-timegrid-slot.fc-timegrid-slot-lane {
    background-color: #112d4e;
  }

  // .fc .fc-button-primary {
  //   color: black;
  //   background-color: $palete-light;
  //   border-color: $palete-light-blue;
  // }

  // .fc .fc-button-primary:not(:disabled):active,
  // .fc .fc-button-primary:not(:disabled).fc-button-active {
  //   color: black;
  //   background-color: $palete-light-blue;
  //   border-color: $palete-light-blue;
  // }
  // .fc .fc-button-primary:disabled {
  //   color: black;
  //   background-color: $palete-light-blue;
  //   border-color: $palete-light-blue;
  // }

  // .fc .fc-button-primary:hover {
  //   background-color: $palete-light-blue;
  //   color: black;
  //   border-color: $palete-light-blue;
  // }
}

.calenderTherapist-container {
  button.fc-prev-button {
    background-color: #112d4e;
  }
  button.fc-next-button {
    background-color: #112d4e;
  }
  button.fc-today-button {
    background-color: #112d4e;
  }
  button.fc-dayGridMonth-button {
    background-color: #112d4e;
  }
  button.fc-timeGridWeek-button {
    background-color: #112d4e;
  }
  button.fc-timeGridDay-button {
    background-color: #112d4e;
  }

  .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
    background-color: white;
  }
  td.fc-timegrid-slot.fc-timegrid-slot-lane {
    background-color: white;
  }
}
